body {
    background: #F9F5F5;
}

.ui.main.container {
	margin-bottom: 1em;
}

.ui.segment .ep_tasksubject {
    padding: 0.8em 0;
}

.ui.menu .item.ep_title {
	display: none;
}

button#idNewTask,
#idNewTask {
    position: fixed;
    bottom: 30px;
    right: 25px;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

._info.red {
	color: #db2828;
}

.ui.grid .vertical.menu .item.notclicable:hover {
	cursor: default;
}

@media (min-width: 481px) {
	.ui.menu .item.ep_title {
		display: none;
	}
	.ui.menu .item .ep_currentuser {
	    margin-right: 1.14286em;
	}
	.ui.menu .item.ep_title {
		display: flex;
	}
	.ui.segment.ep_task {
		transition: all .2s;
	}
	.ui.segment.ep_task:hover,
	.ui.segment.ep_task:focus,
	.ui.segment.ep_task:active {
		background: #FFF8E1;
		/* background: #FFF8E1a0; */
		/* background: #f1494e12; */
		/*background: #fe695e;*/
	    -webkit-box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
    	box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15)
	}
}

/* New task page */

@media only screen and (max-width: 767px) {
	/*.ui.grid>.column:not(.row).field.ep_novitask,
	.ui.grid>.row>.column.field.ep_novitask {
	    padding-left: 0.3rem;
	    padding-right: 0.3rem;
        padding-bottom: 0.3rem!important;
        padding-top: 0.3rem!important;
	}*/

	/*body.js_mobileLayout .ep_novitask.grupa:not(.active),
	.js_mobileLayout.ep_novitask.grupa:not(.active),
	.ui.form.container.js_mobileLayout .ep_novitask.grupa:not(.active),
	body[data-mobilelayout="true"] .ep_novitask.grupa:not(.active),*/
	.ui.form.container[data-mobilelayout="true"] .ep_novitask.grupa:not(.active) {
		display:none;
	}
}

.ui.fixed.sticky.ep_mobileNav,
.ep_mobileNav {
	bottom: 0;
	left: 0;
	right: 0;
}

.js_BrzaListaPartneraToggle {
	z-index: 1;
}

.ui.buttons .or:before {
    content: 'ili';
}

._required:after {
	content: "*";
	color: #db2828; /* red */
	margin: 0;
    font-size: 2rem;
    height: 1em;
    vertical-align: middle;
}

.ui.form.container {
	margin-bottom: 40px;
}

.hidden,
.ui.form select.hidden {
	display: none;
}

@media (min-width: 1200px) {
  .hide-large {
    display: none;
  }
  .show-large {
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hide-desktop {
    display: none;
  }
  .show-desktop {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hide-tablet {
    display: none;
  }
  .show-tablet {
    display: block;
  }
}

@media (max-width: 767px) {
  .hide-phone {
    display: none;
  }
  .show-phone {
    display: block;
  }
}

/* END New task page */